results/*.pkl
results/plots
results/models
.installed.cfg
*.py[cod]
*.hy[cod]
*$py.class
*.so
*.egg-info
*.egg-info/
*.egg
.eggs/
.Python
__pycache__/
build/
develop-eggs/
dist/
eggs/
share/python-wheels/
wheels/
